<template name="purchaseCat">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{>cat}}
            </div>
            <div class="col-md-6">
                {{#if currentUser}}
                    {{#if currentUser.profile.stripeId}}
                        <button class="btn btn-success purchase">Purchase this cat</button>
                    {{else}}
                        Enter payment info to purchase
                        {{> insertCreditCard}}
                    {{/if}}

                {{else}}
                    <span>You must log in to pay for cats</span>
                {{/if}}
            </div>
        </div>
    </div>
</template>